@import "node_modules/bootstrap/scss/bootstrap.scss";

$bg: yellow;

div.col-md-2 {
    background: #151515
}

nav.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 140px;
    overflow-y: scroll;
    background-color: #151515
}

nav.navbar-dark {
        background: #26b3dd;
        height: 100px;
}

.brand {
    color: white;
    width: fit-content;
    padding-left: 15px;
    padding-top: 20px;
}

a.nav-link {
    color: white;
}

.draw {
    padding: 20px;
    width: 100%;
    background: #3BBAE0;
    font-size: 1.5em;
    color: white;
}

label {
    color: white;
}

div.graph div {
    width: 100%;
    margin-top: 100px;
    height: 400px;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // margin-top: 10px;
    margin-bottom: 10px;
}

.inputs a, .add-y {
    background-color: #3BBAE0;
    color: white;
    padding: 0.5em 0.5em; 
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.spacer {
    padding: 10px;
}

.input-block > label {
    margin-bottom: 0px;
}

.input-block > input {
    width: 100%;
}

.input-block {
    margin-bottom: 0.5em;
}

.grouped-input {
    display: flex;
}

.grouped-input > input {
    flex-grow:1;
}

.grouped-input > label {
    margin-right: 5px;
}

#y2-label {
    display: none;
}

.second-axis-inputs {
    display: none;
}

#axis-2-btn {
    display: none;
}

.create-axis-group {
    display: flex
}

.second-axis-inputs > label {
    margin-top: .5em;
}

// FIX nested styling
// nav {
//     .navbar-dark {
//         background: black
//     }
// }

div.col-md-10 {
    padding-top: 55px;
}


/* Parsley */
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #F2F9F0 !important;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #efcac9d1;
    background-color: #F9F0F0 !important;
    border: 1px solid #f09784;
}

.parsley-errors-list {
    list-style-type: none;
    opacity: 0;
    transition: all .3s ease-in;

    color: #efcac9d1;
    margin-top: 5px;
    margin-bottom: 0;
  padding-left: 0;
}

.parsley-errors-list.filled {
    opacity: 1;
}