@import "node_modules/bootstrap/scss/bootstrap.scss";

$bg: yellow;

div.col-sm-6 {
    background: $bg;
    color: green
}

nav.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    background: green;
    padding-top: 55px;
}

nav.navbar-dark {
        background: black;
}

a.navbar-brand {
    color: white;
}

a.nav-link {
    color: white;
}

.draw {
    padding: 20px;
}

label {
    color: white;
}

div.graph div {
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.added-inputs {
    
}

.second-axis-inputs {
    display: none;
}

#axis-2-btn {
    display: none;
}

// FIX why writing nested styles wont work?
// nav {
//     .navbar-dark {
//         background: black
//     }
// }

div.col-md-10 {
    padding-top: 55px;
}