@import "node_modules/bootstrap/scss/bootstrap.scss";

$bg: yellow;

div.col-sm-6 {
    background: $bg;
    color: green
}

nav.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    background: green;
    padding-top: 55px;
    overflow-y: scroll;
}

nav.navbar-dark {
        background: black;
}

a.navbar-brand {
    color: white;
}

a.nav-link {
    color: white;
}

.draw {
    padding: 20px;
}

label {
    color: white;
}

div.graph div {
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputs a {
    background-color: lightgrey;
    color: white;
    padding: 0.5em 0.5em; 
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.input-block > label {
    margin-bottom: 0px;
}

.input-block {
    margin-bottom: 0.5em;
}

#y2-label {
    display: none;
}

.second-axis-inputs {
    display: none;
}

#axis-2-btn {
    display: none;
}

// FIX nested styling
// nav {
//     .navbar-dark {
//         background: black
//     }
// }

div.col-md-10 {
    padding-top: 55px;
}


/* Parsley */
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #F2F9F0 !important;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: rgb(236, 17, 13);
    background-color: #F9F0F0 !important;
    border: 1px solid #f09784;
}

.parsley-errors-list {
    list-style-type: none;
    opacity: 0;
    transition: all .3s ease-in;

    color: rgb(236, 17, 13);;
    margin-top: 5px;
    margin-bottom: 0;
  padding-left: 0;
}

.parsley-errors-list.filled {
    opacity: 1;
}